
// COLORS

$gray1: #323232;
$gray2: #585858;
$gray3: #878787;
$gray4: #c6c6c6;
$gray5: #efefef;
$gray6: #f8f8f8;

//$k-yellow: #ffc300;
$k-yellow: #ff9800;
$k-green: #27c257;
$k-blue: #08c;
//$k-orange: #ff7800;
$k-orange: #ff9800;


 


$blue: #08c;
$cyan: #0cbeb2;
$green: #55d426;
$yellow: #fff10d;
$orange: #ffc501;
$red: #ff4e2b;

$dark-blue: #002c87;
$dark-cyan: #00705d;
$dark-green: #0c9702;
$dark-yellow: #ffd900;
$dark-orange: #ff7b00;
$dark-red: #ff0a02;

$light-blue: #acd6e7;
$light-cyan: #b1e8df;
$light-green: #c8efb1;
$light-yellow: #fff8a9;
$light-orange: #ffeaa5;
$light-red: #ffc4b3;

$pale-blue: #d5eaf3;
$pale-cyan: #d8f3ef;
$pale-green: #e3f7d8;
$pale-yellow: #fffbd4;
$pale-orange: #fff4d2;
$pale-red: #ffe1d9;

$c-prim: $blue;
$c-sec: $orange;
$c-add: $green;

$c-error: $red;
$c-success: $green;
$c-attention: $orange;

