@import "config";

.item-block{
    background-color: $gray6;
    border-width: 1px;
    border-style: solid;
    border-color: $gray4;
    margin-top: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    &:hover{
        background-color: white;
        border-color: #acf;
    }
}

.item-block__body{
    padding: 20px 25px 15px 25px;
}

.cmd-bar {
    display: none;
    padding: 5px;
    background-color: $gray5;
    color: black;
    text-align: right;
    border-radius: 0 0 6px 6px;
    a {
        display: inline-block;
        margin-left: 15px;
        color:white;
        //background-color: white;
        border-radius: 3px;
    }
}

.cmd-bar-static {
    padding: 5px;
    color: black;
    text-align: right;
    border-radius: 0 0 6px 6px;
}

%cmd-bar__btn {
    text-align: center;
    display: inline-block;
    margin: 0 3px;
    color:white;
    padding: 0 4px;
    border-radius: 6px;
    font-size: 120%;
    font-weight: bolder;
    //padding: 5px 8px 0;
    cursor:pointer;
}

.cmd-bar__btn--agree {
    @extend %cmd-bar__btn;
    background-color: $light-green;
}

.cmd-bar__btn--agree-active {
    @extend %cmd-bar__btn;
    background-color: $green;
}

.cmd-bar__btn--disagree {
    @extend %cmd-bar__btn;
    background-color: $light-red;
}

.cmd-bar__btn--disagree-active {
    @extend %cmd-bar__btn;
    background-color: $red;
}


.confirm-delete{
    background-color: red;
    color:white;
    padding: 3px 10px;
    border-radius: 4px;
    margin-top: 3px;
}


.has-cmd-bar:hover .cmd-bar{
    display: block;
}


.badge {
    background-color: red;
    color: white;
    font-weight: bolder;
    display: inline-block;
    padding: 6px 8px;
    border-radius: 12px;
}