/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 102, ../../../static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 107, ../../../static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 112, ../../../static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 117, ../../../static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 122, ../../../static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 127, ../../../static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 131, ../../../static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 137, ../../../static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 142, ../../../static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 147, ../../../static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 152, ../../../static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 157, ../../../static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 162, ../../../static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 167, ../../../static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 172, ../../../static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 177, ../../../static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 182, ../../../static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 187, ../../../static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 192, ../../../static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 197, ../../../static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 202, ../../../static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 207, ../../../static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 212, ../../../static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 217, ../../../static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 222, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 227, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 232, ../../../static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 237, ../../../static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 245, ../../../static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 250, ../../../static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 255, ../../../static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 260, ../../../static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 265, ../../../static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 270, ../../../static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 275, ../../../static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 280, ../../../static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 286, ../../../static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 291, ../../../static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 296, ../../../static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 301, ../../../static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 306, ../../../static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 311, ../../../static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 316, ../../../static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 321, ../../../static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 326, ../../../static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 331, ../../../static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 336, ../../../static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 341, ../../../static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 346, ../../../static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 351, ../../../static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 356, ../../../static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 361, ../../../static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 366, ../../../static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 371, ../../../static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 376, ../../../static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 381, ../../../static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 386, ../../../static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/alt_single_tip.scss */
#tipsflow {
  text-align: left;
}

/* line 7, scss/alt_single_tip.scss */
.tips-sidebar {
  float: left;
  width: 24%;
}

@media only screen and (max-width: 767px) {
  /* line 13, scss/alt_single_tip.scss */
  #tips {
    width: 100%;
  }
}

/* line 19, scss/alt_single_tip.scss */
#single-tip__top {
  margin-bottom: 1em;
  margin-top: 3em;
  font-size: 150%;
}

/* line 25, scss/alt_single_tip.scss */
#single-tip__author {
  float: left;
}

/* line 29, scss/alt_single_tip.scss */
#single-tip__place {
  float: right;
}

/* line 34, scss/alt_single_tip.scss */
.tips-1sb {
  float: left;
  width: 74%;
  margin-left: 2%;
}

/* line 40, scss/alt_single_tip.scss */
.tips-2sb {
  float: left;
  width: 48%;
  margin-left: 2%;
  margin-right: 2%;
}

/* line 48, scss/alt_single_tip.scss */
#tips__info {
  border-radius: 6px 6px 0 0;
  margin-top: 20px;
  width: 100%;
  background-color: #d5eaf3;
  padding: 5px 15px 5px 15px;
}

/* line 58, scss/alt_single_tip.scss */
.search-active {
  background-color: #f8f8f8;
  border-radius: 5px;
}

/* line 66, scss/alt_single_tip.scss */
.error-text {
  color: #ff0a02;
}

/* line 71, scss/alt_single_tip.scss */
.tip {
  background-color: white;
}

/* line 76, scss/alt_single_tip.scss */
.tip__main-text {
  font-size: 140%;
  line-height: 1.3em;
  font-weight: 400;
  padding: 1em 1.8em 1em 2em;
}
/* line 81, scss/alt_single_tip.scss */
.tip__main-text:first-letter {
  font-size: 1.2em;
}

/* line 86, scss/alt_single_tip.scss */
.tip__tag {
  display: inline-block;
  color: white;
  font-weight: bolder;
}

/* line 93, scss/alt_single_tip.scss */
.tip__tag {
  font-size: 120%;
  border-radius: 2px;
  padding: 0 3px;
  margin-right: 1px;
}

/* line 103, scss/alt_single_tip.scss */
.tip__tags {
  float: left;
  width: 96%;
}

/* line 109, scss/alt_single_tip.scss */
.tip__favorite {
  float: right;
  width: 4%;
  font-size: 1.3em;
  color: #ff9800;
  cursor: pointer;
  margin-top: -3px;
}
/* line 115, scss/alt_single_tip.scss */
.tip__favorite:hover {
  color: #ff7b00;
}

/* line 122, scss/alt_single_tip.scss */
.tip__vote-icon {
  font-size: 120%;
}

/* line 126, scss/alt_single_tip.scss */
.tip__vote-number {
  font-size: 75%;
}

/* line 131, scss/alt_single_tip.scss */
.tip__vote-up {
  cursor: pointer;
  color: #e3f7d8;
  margin-bottom: .7em;
}
/* line 134, scss/alt_single_tip.scss */
.tip__vote-up:hover {
  color: #c8efb1;
}
/* line 137, scss/alt_single_tip.scss */
.tip__vote-up:active {
  color: #0c9702;
}

/* line 145, scss/alt_single_tip.scss */
.tip__vote-dn {
  cursor: pointer;
  color: #ffe1d9;
}
/* line 148, scss/alt_single_tip.scss */
.tip__vote-dn:hover {
  color: #ffc4b3;
}

/* line 153, scss/alt_single_tip.scss */
.tip__vote-up--active {
  color: #55d426;
}
/* line 155, scss/alt_single_tip.scss */
.tip__vote-up--active:hover {
  color: #0c9702;
}

/* line 160, scss/alt_single_tip.scss */
.tip__vote-dn--active {
  color: #ff4e2b;
}
/* line 162, scss/alt_single_tip.scss */
.tip__vote-dn--active:hover {
  color: #ff0a02;
}

/* line 167, scss/alt_single_tip.scss */
.tip__author {
  font-weight: bolder;
}

/* line 175, scss/alt_single_tip.scss */
.commentForm__ta {
  width: 100%;
  resize: vertical;
  padding: 0.1em 0.5em;
  border: 0.1em solid #55d426;
  border-radius: 6px;
}

/* line 183, scss/alt_single_tip.scss */
.comments {
  width: 88%;
  margin-left: 10%;
  margin-top: 10px;
  margin-right: 2%;
}
/* line 188, scss/alt_single_tip.scss */
.comments .comment__button {
  width: 100%;
}

/* line 193, scss/alt_single_tip.scss */
.comment {
  background-color: white;
  border-width: 0 0 0 7px;
  border-color: #0088cc;
  border-style: solid;
  padding: 12px 12px 2px 25px;
  margin-bottom: 5px;
}
/* line 200, scss/alt_single_tip.scss */
.comment .comment__text {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
}
/* line 205, scss/alt_single_tip.scss */
.comment .comment__text:first-letter {
  font-size: 1.2em;
}
/* line 209, scss/alt_single_tip.scss */
.comment .comment__meta {
  font-size: 12px;
  width: 100%;
  text-align: right;
  color: #878787;
}

/* line 217, scss/alt_single_tip.scss */
.comment-link {
  color: #0088cc;
}

/* line 222, scss/alt_single_tip.scss */
.tip__share {
  padding: 5px 6px;
  background-color: #d5eaf3;
  color: #0088cc;
}
/* line 226, scss/alt_single_tip.scss */
.tip__share i {
  font-size: 20px;
}
/* line 229, scss/alt_single_tip.scss */
.tip__share input {
  padding: 0.1em 0.5em;
  border: 0.1em solid #0088cc;
  border-radius: 6px;
  display: inline-block;
}

/* line 237, scss/alt_single_tip.scss */
.tip-block__body {
  padding-bottom: 12px;
  width: 93%;
  float: left;
  border-width: 0 1px 0 0;
  border-color: #c6c6c6;
  border-style: dotted;
  min-height: 110px;
}

/* line 247, scss/alt_single_tip.scss */
.tip-block__sidebar {
  padding-bottom: 12px;
  width: 7%;
  float: right;
  font-weight: bolder;
  font-size: 1.6em;
  text-align: center;
  line-height: .5em;
}

/* line 257, scss/alt_single_tip.scss */
.tip__share-block {
  height: 30px;
  min-width: 30px;
  padding-top: 4px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #0088cc;
  display: inline-block;
  background-color: white;
  line-height: 0;
  cursor: pointer;
}
/* line 268, scss/alt_single_tip.scss */
.tip__share-block:active {
  background-color: #0088cc;
  color: white;
}

/* line 274, scss/alt_single_tip.scss */
.tip__share-link {
  display: inline-block;
  margin-left: 1em;
}
