/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 112, ../../../static/css/scss/_config.scss */
.back-color-white {
  background-color: white;
}

/* line 116, ../../../static/css/scss/_config.scss */
.color-white {
  color: white;
}

/* line 120, ../../../static/css/scss/_config.scss */
.back-color-black {
  background-color: black;
}

/* line 124, ../../../static/css/scss/_config.scss */
.color-black {
  color: black;
}

/* line 128, ../../../static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 133, ../../../static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 138, ../../../static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 143, ../../../static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 148, ../../../static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 153, ../../../static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 157, ../../../static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 163, ../../../static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 168, ../../../static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 173, ../../../static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 178, ../../../static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 183, ../../../static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 188, ../../../static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 193, ../../../static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 198, ../../../static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 203, ../../../static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 208, ../../../static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 213, ../../../static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 218, ../../../static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 223, ../../../static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 228, ../../../static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 233, ../../../static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 238, ../../../static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 243, ../../../static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 248, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 253, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 258, ../../../static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 263, ../../../static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 271, ../../../static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 276, ../../../static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 281, ../../../static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 286, ../../../static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 291, ../../../static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 296, ../../../static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 301, ../../../static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 306, ../../../static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 312, ../../../static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 317, ../../../static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 322, ../../../static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 327, ../../../static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 332, ../../../static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 337, ../../../static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 342, ../../../static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 347, ../../../static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 352, ../../../static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 357, ../../../static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 362, ../../../static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 367, ../../../static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 372, ../../../static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 377, ../../../static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 382, ../../../static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 387, ../../../static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 392, ../../../static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 397, ../../../static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 402, ../../../static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 407, ../../../static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 412, ../../../static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/country.scss */
h1 {
  font-size: 400%;
}
/* line 6, scss/country.scss */
h1 img {
  display: inline;
}

/* line 11, scss/country.scss */
#col-header {
  text-align: center;
}

/* line 16, scss/country.scss */
#col-places p {
  font-size: 160%;
}
@media only screen and (max-width: 767px) {
  /* line 15, scss/country.scss */
  #col-places {
    text-align: center;
  }
}
