/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 102, ../../../static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 107, ../../../static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 112, ../../../static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 117, ../../../static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 122, ../../../static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 127, ../../../static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 131, ../../../static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 137, ../../../static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 142, ../../../static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 147, ../../../static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 152, ../../../static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 157, ../../../static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 162, ../../../static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 167, ../../../static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 172, ../../../static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 177, ../../../static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 182, ../../../static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 187, ../../../static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 192, ../../../static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 197, ../../../static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 202, ../../../static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 207, ../../../static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 212, ../../../static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 217, ../../../static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 222, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 227, ../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 232, ../../../static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 237, ../../../static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 245, ../../../static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 250, ../../../static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 255, ../../../static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 260, ../../../static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 265, ../../../static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 270, ../../../static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 275, ../../../static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 280, ../../../static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 286, ../../../static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 291, ../../../static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 296, ../../../static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 301, ../../../static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 306, ../../../static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 311, ../../../static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 316, ../../../static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 321, ../../../static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 326, ../../../static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 331, ../../../static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 336, ../../../static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 341, ../../../static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 346, ../../../static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 351, ../../../static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 356, ../../../static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 361, ../../../static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 366, ../../../static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 371, ../../../static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 376, ../../../static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 381, ../../../static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 386, ../../../static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 5, scss/login_modal.scss */
.modal {
  text-align: center;
}

/* line 9, scss/login_modal.scss */
.modal-body {
  margin-bottom: 1em;
}

/* line 12, scss/login_modal.scss */
.modal-footer {
  text-align: center;
}

/* line 16, scss/login_modal.scss */
.si-facebook, .si-google, .si-vk {
  display: block;
  min-width: 240px;
  width: 280px;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: .5em;
  cursor: pointer;
  margin: 0 auto 8px;
  text-decoration: none;
}
/* line 27, scss/login_modal.scss */
.si-facebook span, .si-google span, .si-vk span {
  display: inline-block;
  vertical-align: middle;
}
/* line 31, scss/login_modal.scss */
.si-facebook:hover, .si-google:hover, .si-vk:hover {
  color: white;
  text-decoration: none;
}

/* line 37, scss/login_modal.scss */
.si-icon {
  font-size: 250%;
  margin-right: .5em;
}

/* line 42, scss/login_modal.scss */
.si-facebook {
  background-color: #3b5998;
}

/* line 47, scss/login_modal.scss */
.si-google {
  background-color: #3367d6;
}

/* line 51, scss/login_modal.scss */
.si-vk {
  background-color: #507299;
}

/* line 56, scss/login_modal.scss */
.modal-text {
  font-size: 110%;
}

/* line 59, scss/login_modal.scss */
.modal-important {
  font-size: 90%;
}
