{% from 'macros.html' import inline_menu %}

{% extends "base.html" %}

{% block title %}Избранное{% endblock %}

{% block styles %}
{{ super() }}
    {% assets "my_tips_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="container">

    {{inline_menu('my_tips')}}

    <div class="row" id ="profile__main">
      <div class="col-lg-6 col-lg-offset-3">

        <div id="tipsflow"></div>


      </div> <!-- col -->
    </div> <!-- row -->



</div> <!-- container -->

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      var jsonData = {{json_data|tojson|safe}};
      var signedIn = "{{signed_in}}";
    </script>
    {% assets "my_tips_js" %}
        <script src ="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
