{% from 'macros.html' import inline_menu %}

{% extends "base.html" %}

{% block title %}Ваш профиль: {{u.nickname}}{% endblock %}

{% block styles %}
{{ super() }}
    {% assets "profile_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="container">

    {{inline_menu('profile')}}

    <div class="row" id ="profile__main">
        <h2 class="row__header">Профиль пользователя</h2>
        <div class="col-lg-3">

        <section id="avatar__dropzone" class="dropzone">
          <div class="section-body">
                    <img class="avatar-big" id="avatar__image" src="{{u.get_avatar()}}"/>
          <div id="dnd-cta">Перетащите новое фото сюда</div>
          <div id="or">-или-</div>
          <div class="browser">
            <label>
              <span>Выберите файл</span>
              <input type="file" name="files[]" multiple="multiple" title='Click to add Files'>
            </label>
          </div>
          </div>
        </section>


        </div>

        <div class="col-lg-9">
            <section id="userinfo">
              <div class="section-body">
                <h1 id="nickname__title">{{u.nickname}}</h1>
                <div class="divider"></div>

                <label class="form-label" for="nickname__edit-input">Никнейм:</label>
                <div class="form-inline">
                  <div id ="nickname__group" class="form-group" >
                    {% if u.nickname %}{% set nick=u.nickname %}{% endif %}
                    <input type="text" class="form-control" id="nickname__edit-input" value="{{nick}}" placeholder="Add nickname">
                  </div>
                  <button id="nickname__save-button" class="btn btn-default">Сохранить</button>
                </div>
                <div id="nickname__status"></div>

                <label class="form-label" for="nickname__edit-input">E-mail для связи:</label>
                <div class="form-inline">
                  <div id ="email__group" class="form-group" >
                    {% set es=u.get_email_status() %}
                    <input type="text" class="form-control"  id="email__edit-input" value="{{es['email']}}" placeholder="Имя пользователя"
                      >
                  </div>
                  <button id="email__save-button" class="btn btn-default">Сохранить</button>
                </div>
                <div id="email__status"></div>

                <label class="form-label" for="website__edit-input">Адрес сайта:</label>
                <div class="form-inline">
                  <div id ="website__group" class="form-group" >
                    <input type="text" class="form-control"  id="website__edit-input" value="" placeholder="http://..."
                      >
                  </div>
                  <button id="website__save-button" class="btn btn-default">Сохранить</button>
                </div>
                <div id="website__status"></div>


                <label class="form-label" for="selfinfo__edit-input">Статус</label>
                <div class="form-inline">
                  <div id ="selfinfo__group" class="form-group" >
                    <textarea class="form-control"  id="selfinfo__edit-input" value="" placeholder="О себе..."
                      ></textarea>
                  </div>
                  <br />
                  <button id="selfinfo__save-button" class="btn btn-default">Сохранить</button>
                </div>
                <div id="selfinfo__status"></div>

               </div> 
            </section>
            <section>
              <div class="section-body">
                <h2>Авторизация</h2>
                {% if u.google_id %}
                    <div><span class="glyphicon glyphicon-ok-sign" style="color:green"> </span> Вы вошли с помощью Google</div>
                {% endif %}
                {% if u.facebook_id %}
                    <div><span class="glyphicon glyphicon-ok-sign" style="color:green"> </span> Вы вошли с помощью Facebook</div>
                {% endif %}
                {% if u.vk_id %}
                    <div><span class="glyphicon glyphicon-ok-sign" style="color:green"> </span> Вы вошли с помощью ВКонтакте</div>
                {% endif %}
                <div class="divider"></div>
                <a class="btn btn-large btn-warning" href="{{url_for('social.logout')}}"><i class="fa fa-sign-out" title="Выйти"></i>&nbsp;Выйти</a>
              </div>
            </section>
        </div>

    </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}



</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "profile_js" %}
        <script src ="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
