{% from 'macros.html' import inline_menu %}

{% extends "base.html" %}

{% block title %}Избранное{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('social.static', filename='css/user_events.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">

    {{inline_menu('subscriptions')}}

    <div class="row" id ="profile__main">
      <div class="col-lg-6 col-lg-offset-3">

        RESERVED


      </div> <!-- col -->
    </div> <!-- row -->



</div> <!-- container -->

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src ="{{ url_for('static', filename="js/common.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('social.static', filename="js/subscriptions.js") }}" type="text/javascript"></script>
{% endblock %}
