{% from 'macros.html' import inline_menu %}

{% extends "base.html" %}

{% macro render_events(events) %}
  {% for n in events %}
    <div class=" item-block notification notification-new has-cmd-bar">

      {% if n.ntype=='PM' %}
      <div class="item-block__body">
        {{n.message}}
      </div>

      <div class="cmd-bar">
        <a href="{{url_for('social.messenger')}}?user={{n.user_from}}">
            <span class="glyphicon glyphicon-envelope"></span>
            Перейти к сообщениям 
        </a>
          <a 
          href="{{url_for('social.public_profile', uid=n.user_from)}}">
          <span class="glyphicon glyphicon-user"></span>
          Профиль пользователя
        </a>
      </div>

      {% elif n.ntype == 'NP' %}
        <div class="item-block__body">
          {{n.message}}
          <div class="divider"></div>
          {{n.data}}
        </div>
        <div class="cmd-bar">
        <a href="{{n.get_extras()['tip_url']}}">
            <span class="glyphicon glyphicon-envelope"></span>
            Читать
        </a>
          <a 
          href="{{url_for('social.public_profile', uid=n.user_from)}}">
          <span class="glyphicon glyphicon-user"></span>
          Профиль пользователя
        </a>
      </div>

      {% elif n.ntype == 'NC' %}
        <div class="item-block__body">
          {{n.message}}
          <div class="divider"></div>
          {{n.data}}
        </div>
        <div class="cmd-bar">
        <a href="{{n.get_extras()['tip_url']}}">
            <span class="glyphicon glyphicon-envelope"></span>
            Читать
        </a>
          <a 
          href="{{url_for('social.public_profile', uid=n.user_from)}}">
          <span class="glyphicon glyphicon-user"></span>
          Профиль пользователя
        </a>
      </div>
      {% else %}
        <div class="item-block__body">
          {{n.message}}
          <div class="divider"></div>
          {{n.data}}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}

{% block title %}События{% endblock %}

{% block styles %}
{{ super() }}
    {% assets "user_events_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="container">

    {{inline_menu('events')}}

    <div class="row" id ="profile__main">
      <div class="col-lg-6 col-lg-offset-3">

        {{render_events(nots)}}

        <div class="divider"></div>
        <p>Прочитанные</p>
<!--         {% for h in nots_history %}
          <div class="item-block notification notification-old has-cmd-bar">
            <div class="item-block__body" >
              {{h.message}}
              <div class="divider"></div>
                {{h.data}}
            </div>
          </div>
        {% endfor %} -->

        {{render_events(nots_history)}}


      </div> <!-- col -->
    </div> <!-- row -->



</div> <!-- container -->

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "user_events_js" %}
        <script src ="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
