/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 109, scss/_config.scss */
.back-color-white {
  background-color: white;
}

/* line 113, scss/_config.scss */
.color-white {
  color: white;
}

/* line 117, scss/_config.scss */
.back-color-black {
  background-color: black;
}

/* line 121, scss/_config.scss */
.color-black {
  color: black;
}

/* line 125, scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 130, scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 135, scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 140, scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 145, scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 150, scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 154, scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 160, scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 165, scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 170, scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 175, scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 180, scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 185, scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 190, scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 195, scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 200, scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 205, scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 210, scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 215, scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 220, scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 225, scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 230, scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 235, scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 240, scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 245, scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 250, scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 255, scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 260, scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 268, scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 273, scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 278, scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 283, scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 288, scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 293, scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 298, scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 303, scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 309, scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 314, scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 319, scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 324, scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 329, scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 334, scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 339, scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 344, scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 349, scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 354, scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 359, scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 364, scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 369, scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 374, scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 379, scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 384, scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 389, scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 394, scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 399, scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 404, scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 409, scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/main.scss */
#main-logo {
  display: block;
  width: 50%;
  margin: 3em auto 2em;
}

/* line 9, scss/main.scss */
#main__search {
  text-align: center;
  min-width: 20em;
  margin-top: .8em;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 9, scss/main.scss */
  #main__search {
    min-width: 100%;
    width: 100%;
    float: none;
  }
}
/* line 16, scss/main.scss */
#main__search input {
  border-radius: 1em;
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  border-color: #acd6e7;
  border-width: 2px;
  font-size: 120%;
  height: 2em;
}
/* line 26, scss/main.scss */
#main__search span {
  vertical-align: middle;
  font-size: 1.5em;
  color: #0088cc;
}

/* line 33, scss/main.scss */
#main-search-results {
  padding: 2px 10% 2em;
  background-color: #f8f8f8;
  color: white;
}
/* line 37, scss/main.scss */
#main-search-results a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #f8f8f8;
}
/* line 42, scss/main.scss */
#main-search-results a:hover {
  border-color: #0088cc;
  background-color: #0088cc;
  color: white;
}
/* line 47, scss/main.scss */
#main-search-results a.search-result--preselected {
  border-color: #0088cc;
  background-color: #0088cc;
  color: white;
}
