/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 112, scss/_config.scss */
.back-color-white {
  background-color: white;
}

/* line 116, scss/_config.scss */
.color-white {
  color: white;
}

/* line 120, scss/_config.scss */
.back-color-black {
  background-color: black;
}

/* line 124, scss/_config.scss */
.color-black {
  color: black;
}

/* line 128, scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 133, scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 138, scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 143, scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 148, scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 153, scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 157, scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 163, scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 168, scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 173, scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 178, scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 183, scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 188, scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 193, scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 198, scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 203, scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 208, scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 213, scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 218, scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 223, scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 228, scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 233, scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 238, scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 243, scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 248, scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 253, scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 258, scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 263, scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 271, scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 276, scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 281, scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 286, scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 291, scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 296, scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 301, scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 306, scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 312, scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 317, scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 322, scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 327, scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 332, scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 337, scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 342, scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 347, scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 352, scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 357, scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 362, scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 367, scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 372, scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 377, scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 382, scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 387, scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 392, scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 397, scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 402, scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 407, scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 412, scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/main.scss */
#main-logo {
  display: block;
  width: 50%;
  margin: 3em auto 2em;
}

/* line 9, scss/main.scss */
#main__search {
  text-align: center;
  min-width: 20em;
  margin-top: .8em;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 9, scss/main.scss */
  #main__search {
    min-width: 100%;
    width: 100%;
    float: none;
  }
}
/* line 16, scss/main.scss */
#main__search input {
  border-radius: 1em;
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  border-color: #acd6e7;
  border-width: 2px;
  font-size: 120%;
  height: 2em;
}
/* line 26, scss/main.scss */
#main__search span {
  vertical-align: middle;
  font-size: 1.5em;
  color: #0088cc;
}

/* line 33, scss/main.scss */
#main-search-results {
  padding: 2px 10% 2em;
  background-color: #f8f8f8;
  color: white;
}
/* line 37, scss/main.scss */
#main-search-results a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #f8f8f8;
}
/* line 42, scss/main.scss */
#main-search-results a:hover {
  border-color: #0088cc;
  background-color: #0088cc;
  color: white;
}
/* line 47, scss/main.scss */
#main-search-results a.search-result--preselected {
  border-color: #0088cc;
  background-color: #0088cc;
  color: white;
}
