/* line 3, scss/place.scss */
h1 {
  font-size: 400%;
}

/* line 7, scss/place.scss */
#filters {
  float: left;
  width: 24%;
  margin-right: 2%;
}
/* line 12, scss/place.scss */
#filters h2 {
  text-align: right;
}
/* line 15, scss/place.scss */
#filters .tags__list {
  border-width: 0 1px 0 0px;
  border-color: #c6c6c6;
  border-style: solid;
  padding: 10px 4px 20px 0;
}

/* line 23, scss/place.scss */
#tips {
  float: left;
  width: 74%;
}

/* line 27, scss/place.scss */
.tip {
  background-color: white;
}

/* line 31, scss/place.scss */
.filter-item {
  padding: 1px 7px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* line 39, scss/place.scss */
.filter-item-inactive {
  background-color: #efefef;
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
}
/* line 44, scss/place.scss */
.filter-item-inactive:hover {
  border: 1px solid #878787;
  color: #878787;
}

/* line 51, scss/place.scss */
.color-green {
  background-color: #55d426;
  color: white;
}

/* line 56, scss/place.scss */
.color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 61, scss/place.scss */
.color-yellow {
  background-color: #fff10d;
  color: white;
}

/* line 66, scss/place.scss */
.tip__main-text {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
}

/* line 72, scss/place.scss */
.tip__tag {
  display: inline-block;
  background-color: #55d426;
  color: white;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 12px;
  padding: 0 3px;
}

/* line 82, scss/place.scss */
.place__info {
  border-width: 0 0 0 1px;
  border-color: #c6c6c6;
  border-style: solid;
}

/* line 88, scss/place.scss */
.btn-agree {
  font-size: 150%;
}
