/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 102, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 107, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 112, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 117, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 122, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 127, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 131, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 137, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 142, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 147, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 152, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 157, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 162, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 167, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 172, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 177, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 182, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 187, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 192, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 197, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 202, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 207, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 212, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 217, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 222, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 227, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 232, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 237, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 245, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 250, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 255, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 260, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 265, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 270, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 275, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 280, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 286, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 291, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 296, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 301, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 306, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 311, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 316, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 321, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 326, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 331, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 336, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 341, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 346, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 351, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 356, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 361, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 366, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 371, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 376, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 381, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 386, /Users/lapshov/Documents/venv/mango/mango/static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/ui.scss */
.item-block {
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #c6c6c6;
  margin-top: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
}
/* line 12, scss/ui.scss */
.item-block:hover {
  background-color: white;
  border-color: #acf;
}

/* line 18, scss/ui.scss */
.item-block__body {
  padding: 5px 10px;
}

/* line 22, scss/ui.scss */
.cmd-bar {
  display: none;
  padding: 5px;
  background-color: #eef;
  color: black;
  border-radius: 0 0 6px 6px;
}

/* line 31, scss/ui.scss */
.cmd-bar__left {
  float: left;
  text-align: left;
}

/* line 36, scss/ui.scss */
.cmd-bar__right {
  float: right;
  text-align: right;
}

/* line 41, scss/ui.scss */
.cmd-bar-static {
  padding: 5px;
  color: black;
  text-align: right;
  border-radius: 0 0 6px 6px;
}

/* line 48, scss/ui.scss */
.cmd-bar__button, .cmd-bar__btn--agree, .cmd-bar__btn--agree-active, .cmd-bar__btn--disagree, .cmd-bar__btn--disagree-active {
  padding: 1px 3px;
  background-color: white;
  color: #0088cc;
  text-align: center;
  display: inline-block;
  margin: 0 3px;
  padding: 0 4px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 65, scss/ui.scss */
.cmd-bar__btn--agree {
  background-color: #c8efb1;
}

/* line 70, scss/ui.scss */
.cmd-bar__btn--agree-active {
  background-color: #55d426;
}

/* line 75, scss/ui.scss */
.cmd-bar__btn--disagree {
  background-color: #ffc4b3;
}

/* line 80, scss/ui.scss */
.cmd-bar__btn--disagree-active {
  background-color: #ff4e2b;
}

/* line 86, scss/ui.scss */
.confirm-delete {
  background-color: red;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-top: 3px;
}

/* line 95, scss/ui.scss */
.has-cmd-bar:hover .cmd-bar {
  display: block;
}

/* line 100, scss/ui.scss */
.badge {
  background-color: red;
  color: white;
  font-weight: bolder;
  display: inline-block;
  padding: 6px 8px;
  border-radius: 12px;
}
