/* line 70, scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 75, scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 80, scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 85, scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 90, scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 95, scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 99, scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 105, scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 110, scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 115, scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 120, scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 125, scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 130, scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 135, scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 140, scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 145, scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 150, scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 155, scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 160, scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 165, scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 170, scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 175, scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 180, scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 185, scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 190, scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 195, scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 200, scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 205, scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 213, scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 218, scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 223, scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 228, scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 233, scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 238, scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 243, scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 248, scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 254, scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 259, scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 264, scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 269, scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 274, scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 279, scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 284, scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 289, scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 294, scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 299, scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 304, scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 309, scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 314, scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 319, scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 324, scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 329, scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 334, scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 339, scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 344, scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 349, scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 354, scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/ui.scss */
.item-block {
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #c6c6c6;
  margin-top: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
}
/* line 12, scss/ui.scss */
.item-block:hover {
  background-color: white;
  border-color: #acf;
}

/* line 18, scss/ui.scss */
.item-block__body {
  padding-bottom: 12px;
  width: 93%;
  float: left;
  border-width: 0 1px 0 0;
  border-color: #c6c6c6;
  border-style: dotted;
  min-height: 110px;
}

/* line 28, scss/ui.scss */
.item-block__sidebar {
  padding-bottom: 12px;
  width: 7%;
  float: right;
  font-weight: bolder;
  font-size: 1.6em;
  text-align: center;
  line-height: .5em;
}

/* line 39, scss/ui.scss */
.cmd-bar {
  display: none;
  padding: 5px;
  background-color: #eef;
  color: black;
  border-radius: 0 0 6px 6px;
}

/* line 48, scss/ui.scss */
.cmd-bar__left {
  float: left;
  text-align: left;
}

/* line 53, scss/ui.scss */
.cmd-bar__right {
  float: right;
  text-align: right;
}

/* line 58, scss/ui.scss */
.cmd-bar-static {
  padding: 5px;
  color: black;
  text-align: right;
  border-radius: 0 0 6px 6px;
}

/* line 65, scss/ui.scss */
.cmd-bar__button, .cmd-bar__btn--agree, .cmd-bar__btn--agree-active, .cmd-bar__btn--disagree, .cmd-bar__btn--disagree-active {
  padding: 1px 3px;
  background-color: white;
  color: #0088cc;
  text-align: center;
  display: inline-block;
  margin: 0 3px;
  padding: 0 4px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 82, scss/ui.scss */
.cmd-bar__btn--agree {
  background-color: #c8efb1;
}

/* line 87, scss/ui.scss */
.cmd-bar__btn--agree-active {
  background-color: #55d426;
}

/* line 92, scss/ui.scss */
.cmd-bar__btn--disagree {
  background-color: #ffc4b3;
}

/* line 97, scss/ui.scss */
.cmd-bar__btn--disagree-active {
  background-color: #ff4e2b;
}

/* line 103, scss/ui.scss */
.confirm-delete {
  background-color: red;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-top: 3px;
}

/* line 112, scss/ui.scss */
.has-cmd-bar:hover .cmd-bar {
  display: block;
}

/* line 117, scss/ui.scss */
.badge {
  background-color: red;
  color: white;
  font-weight: bolder;
  display: inline-block;
  padding: 6px 8px;
  border-radius: 12px;
}
