@import "../../../../static/css/scss/_config";

h1 {
    font-size: 400%;
}

#filters{
    float: left;
    width:24%;
    margin-right:2%;

    h2{
        text-align: right;
    }
    .tags__list{
        border-width: 0 1px 0 0px;
        border-color: $gray4;
        border-style: solid;
        padding:10px 4px 20px 0;
    }
}

#tips{
    float: left;
    width:74%;
    border-color: #08c;
}

#tips__info{
    border-radius: 6px 6px 0 0 ;
    margin-top: 20px;
    width: 100%;
    background-color: $pale-blue;
    padding: 5px 15px 5px 15px;
}

#tip__add-new-form{

    background-color: $gray5;
    padding: 15px;
    border-radius: 6px;

}

#add-new-form__textarea{
    height:6em;
    width:100%;
    resize:vertical;
    padding:.5em;
    border: 0.1em solid $green;
    border-radius: 6px 6px 0 0;
}

#add-new-form__added-tags{
    margin-top: -10px;
    border-radius:  0 0 6px 6px;
    background-color: $gray6;
    border: 0.1em solid $green;
    padding: 7px;
}

#add-new-form__tags{
    text-align:center;
    margin-top: 10px;
}

#add-new-form__search-tags{
    text-align:center;
    margin-top: 20px;
    padding: 10px
}

.search-active{
    background-color: $gray6;
    border-radius: 5px;

}


#add-new-form__tags-ta{
    height: 2em;
    width:95%;
    resize:vertical;
    padding:0.1em 0.5em;
    border: 0.1em solid $green;
    border-radius: 6px;
    display: inline-block;
}

#filter-message{
    border-radius: 6px;
    background-color: white;
    padding: 5px 10px 7px;
}

.tip{
    background-color: white;
}

.tip-agreed{
    background-color: $pale-green;
}
.tip-disagreed{
    background-color:$pale-red;
}

.filter-item{
    padding: 1px 7px;
    border-radius:5px 0 0 5px;
    margin-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
}

.filter-item-inactive{
    background-color:$gray5;
    color:$gray4;
    border: 1px solid $gray4;
    
    &:hover{
        border: 1px solid $gray3;
        color: $gray3;
    }
}


.tip__main-text {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    padding-left: 35px;
    padding-right: 4px;
    //padding-top: 6px;
    &:first-letter{
        font-size: 1.2em;
    }
}

%tag__common{
    display: inline-block;
    color: white;
    font-weight: bolder;
    cursor: pointer; 
}

.tip__tag {
    @extend %tag__common;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 1px;
}

.form__tag {
    @extend %tag__common;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 3px;
    line-height: 1.3em;
}

.form__main-tag {
    @extend %tag__common;
    display: block;
    float:left;
    width:32%;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 4px;
    margin-left: 1%;
    margin-bottom: 3px;
    line-height: 1.3em;
}

.form__added-tag{
    @extend %tag__common;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 3px;
    line-height: 1.3em;
    .added-tag__remove-sign{
        display: none;
    }
    &:hover .added-tag__remove-sign{
        display: inline;
    }
}

.tip__tags {
    float: left;
    width:96%;

}

.tip__favorite{
    float:right;
    width:4%;
    font-size: 1.3em;
    color: $orange;
    cursor: pointer;
    &:hover{
        color:$dark-orange;
    }
}


.place__info {
    border-width: 0 0 0 1px;
    border-color: $gray4;
    border-style: solid;
}


.tip__vote-up{
    cursor: pointer;
    color: $pale-green;
    &:hover{
        color:$light-green;
    }
    &:active{
        color: $dark-green;
    }
}



.tip__vote-dn{
    cursor: pointer;
    color: $pale-red;
    &:hover{
        color:$light-red;
    }
}

.tip__vote-up--active{
    color: $green;
    &:hover{
        color:$dark-green;
    }
}

.tip__vote-dn--active{
    color: $red;
    &:hover{
        color:$dark-red;
    }
}

.tip__author{
    font-weight: bolder;
}

/* 
.btn-agree {
    font-size: 150%;
} */