@import "../../../../static/css/scss/_config";

#single-tip{
    font-size: 150%;
}

#single-tip__vote-buttons{
    text-align: right;
}

@mixin vote_btn ($cl, $cd){
    color: $cl;
    border-color: $cl;
    &:hover{
        color:$cd;
        border-color: $cd;
    }
    &:active{
        color:white;
        border-color: $cd;
        background-color: $cd;
    }
}


.single-tip__upvote-btn{
    @include vote_btn($light-green, $dark-green);
}

.single-tip__downvote-btn{
    @include vote_btn($light-red, $dark-red);
}

.single-tip__upvote-btn--selected{
    color:white;
    background-color: $green;
    border-color:$green;
    &:hover{
        border-color:$green;
        color:white;
    }
}

.single-tip__downvote-btn--selected{
    color:white;
    background-color: $red;
    border-color:$red;
    &:hover{
        border-color:$red;
        color:white;
    }
}

.single-tip__vote-btn{
    font-weight: bolder;
    font-size: 80%;
    border-width: 2px;
    border-radius: 0.3em;
    border-style: solid;
    display: inline-block;
    padding: .2em .5em;
    cursor: pointer;
}

#single-tip__top{
    margin-bottom: 1em;
    margin-top: 3em;
}

#single-tip__author{
    float: left;
}

#single-tip__place{
    float: right;
}

#single-tip__comments{
    padding: .5em 1em;
}

.single-tip__comment{
    background-color: white;
    border-color: $blue;
    border-width: 0 0 0 5px;
    border-style: solid;
    padding: .4em 1em;
    margin-bottom: .4em;
    font-size: 80%;
}
.single-tip__comment-footer{
    width:100%;
    font-size: 80%;
    color: $gray4;
    text-align: right;
}

