{% extends "base.html" %}

{% block title %}Hello world!{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('geo.static', filename='css/alt_single_tip.css') }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="cont">
    <div class="row">
   
        <div class="col-lg-6 col-lg-offset-3">
            <div id="single-tip__top">
                <div id="single-tip__author">
                    <img style="display:inline-block" src="{{tip.user.get_avatar()}}" 
                         class="img img-responsive avatar-small" />
                    <a href="{{url_for('social.public_profile', uid=tip.user.id)}}" 
                       class="single-tip__author-name">
                        {{tip.user.nickname}}
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div id="single-tip__place">
                    <a href="{{url_for('geo.places', us=tip.place.url_string)}}">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{tip.place.rus_name}}, {{tip.place.country.rus_name}}
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="tipsflow"></div>
        </div>
        

    </div>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var signedIn = {{signed_in|lower}};
        var jsonData = {{json_data|tojson|safe}};
    </script>
    <script src ="{{ url_for('static', filename="lib/moment-with-locales.min.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="lib/sharer.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('geo.static', filename="js/tipsflow.js") }}" type="text/javascript"></script>
{% endblock %}
