{% extends "base.html" %}

{% block title %}{{place.rus_name}} - {{place.country.rus_name}}. Что посмотреть и как добраться. Советы и отзывы. Кудабы.ру{% endblock %}


{% block metas %}
{{super()}}
<meta name="description" content="{{place.rus_name}}, {{place.country.rus_name}}. Советы и отзывы путешественников. Как добраться и что посмотреть. Факты и цены" />

{% endblock %}

{% block styles %}
{{ super() }}
    {% assets "place_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="cont">
    <div class="row">


        <div id="tipsflow" class="col-lg-7 col-xs-12">
            <div id="filters" class="hidden-xs tips-sidebar">
                <div class="tags__list">
                    <h2>Метки</h2>
                    <div id="tag-list">
                        {% for t in place_tags %}
                        <div class="filter-item">
                            <span class="glyphicon glyphicon-tag" style="font-size:75%" ></span>
                            <span>{{t.name}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tips" class="tips-1sb">
                <div id="tips-content">
                {% for t in place_data['tips'] %}
                    <div class="item-block tip has-cmd-bar">

                        <div class="tip-block__body" >
                            <div class="tip__top">
                                <div class="tip__tags">
                                    {% for tag in t['tags'] %}
                                        <span class="tip__tag back-color-dark-cyan">{{tag['name']}}</span>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tip__main-text">
                               {{t['text']}}
                            </div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="cmd-bar">
                            <div class="cmd-bar__right">
                                <div class="cmd-bar__button tip__author">
                                        <a href="/user/{{t['author']['id']}}" ><span class="glyphicon glyphicon-user"></span> {{t['author']['name']}}</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>


                {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-5 col-xs-12 place__info">

            <h1>{{place.rus_name}}</h1>
            <h2>
                <img src="{{ url_for('geo.static', filename='images/flags/big/'+place.country.code|lower+'.png')}}" />
                {{place.country.rus_name}}
            </h2>

            <div id="place-subscribe" :class="{subscribed:subscribed}" @click="toggle">
                <span class="glyphicon glyphicon-map-marker"></span>
                <span v-text="msg"></span>
            </div>

            <div id="main-picture">
                {% if place.image %}
                <img class="img img-responsive" src="{{ url_for('geo.static', filename='images/places/'+place.image+'_big.jpg') }}" />
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% if place.city_code %}
                    <div id="city-code-card"><div id="city-code"><i class="demo-icon icon-flight">&#xe800;</i>{{place.city_code}}</div></div>
                    {% endif %}
                    <section id="airports-section"></section>
                </div>
                <div class="col-lg-6">
                    {% set places_nearby = place.get_places_nearby() %}
                    {% if places_nearby['count']>0 %}
                    <section id="places-nearby">
                        <div class="section-header"><h2>Места поблизости</h2></div>
                        <div class="section-body">
                            {% for pn in places_nearby['list'] %}
                                <a href="{{pn['url']}}"><img class="flag" src="{{pn['flag_url']}}" /> {{pn['place']}} - {{pn['distance']}}км</a>
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
                </div>
            </div>

        </div>


</div>

{% include 'login_modal.html'%}

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var subscribed = "{{subscribed}}";
        var airports = {{airports|tojson|safe}};
        var place_id = {{place.id}};
        var jsonData = {{json_data|tojson|safe}};
        var signedIn = {{signed|lower}};
/*        var thisUrl = "{{request.path}}";
        console.log(thisUrl);*/

    </script>
    {% assets "place_js" %}
        <script src ="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
