{% extends "base.html" %}

{% block title %}Hello world!{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('geo.static', filename='css/place.css') }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="cont">
    <div class="row">
   
        
        <div class="col-lg-7" id = "place-tips">
            <div id="filters" class="hidden-xs">
                <div class="tags__list">
                    <h2>Метки</h2>
                    <div id="tag-list"></div>
                </div>
            </div>
            <div id="tips">
                <div id="tips-content">
                {% for t in place.tips %}
                    <div>{{t.text}}</div>
                    <div>
                        {% for tag in t.tags %}
                            <span class="tip__tag">{{tag.name}}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-5 place__info">

            <h1>{{place.rus_name}}</h1>
            <h2>{{place.country.rus_name}}</h2>
            <div id="main-picture">
                {% if place.image %}
                <img class="img img-responsive" src="{{ url_for('geo.static', filename='images/places/'+place.image+'_big.jpg') }}" />
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% if place.city_code %}
                    <div id="city-code-card"><div id="city-code">{{place.city_code}}</div></div>
                    {% endif %}
                    <section id="airports-section"></section>
                </div>
                <div class="col-lg-6">
                    {% set places_nearby = place.get_places_nearby() %}
                    {% if places_nearby['count']>0 %}
                    <section id="places-nearby">
                        <div class="section-header"><h2>Места поблизости</h2></div>
                        <div class="section-body">
                            {% for pn in places_nearby['list'] %}
                                <a href="{{pn['url']}}">{{pn['place']}} - {{pn['distance']}}км</a>
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
                </div>
            </div>

        </div>


</div>
    <!-- Modal -->
    <div class="modal fade" id="si-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">Присоединяйтесь к нам :)</h2>
          </div>
          <div class="modal-body">
            <p>Всего один клик, и вы сможете сохранять понравившиеся советы в избранное, добавлять свои, комментировать и помогать авторам самых достоверных и полезных советов становиться популярнее!</p>
            <a class="si-facebook"><span class="si-icon fa fa-facebook"></span>Войти через <strong>Facebook</strong></a>
            <a class="si-vk"><span class="si-icon fa fa-vk"></span>Войти через <strong>ВКонтакте</strong></a>
            <a class="si-google"><span class="si-icon fa fa-google"></span>Войти через <strong>Google</strong></a>
            <p class="subtitle"><span class="glyphicon glyphicon-exclamation-sign"></span>Мы не получаем никакой информации кроме имени пользователя и его e-mail.<br/>И, разумеется, не делаем никаких публикаций от вашего имени.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">&times; Да ну нафиг</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var airports = {{airports|tojson|safe}};
        var place_id = {{place.id}};
        var jsonData = {{json_data|tojson|safe}};
        var signedIn = {{signed|lower}};
    </script>
    <script src ="{{ url_for('static', filename="lib/moment-with-locales.min.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="lib/vue.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="lib/sharer.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="js/common.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('geo.static', filename="js/place.js") }}" type="text/javascript"></script>
{% endblock %}
