
{% extends "base.html" %}

{% block title %}Самые интересные направления для путешественников. - Кудабы.ру{% endblock %}


{% block metas %}
{{super()}}
<meta name="description" content="Самые популярные направления Советы и отзывы путешественников. Как добраться и что посмотреть. Факты и цены" />

{% endblock %}

{% block styles %}
{{ super() }}
    {% assets "world_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <h1>Весь мир</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div id="col-header">
                <h2>Направления</h2>
            </div>
            <ul>
                {% for d in directions %}
                    <li class="dir-item"><a href="{{url_for('geo.direction', us=d.url_string)}}">{{ d.rus_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <div id="col-header">
                <h2>Популярные страны</h2>
            </div>
            <ul>
                {% for c in countries %}
                    <li class="country-item"><a href="{{url_for('geo.country', us=c[1])}}">{{ c[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <div id="col-header">
                <h2>Популярные места</h2>
            </div>
            <ul>
                {% for p in places %}
                    <li class="place-item"><a href="{{url_for('geo.places', us=p[1])}}">{{ p[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="divider"></div>




</div>
{% endblock %}

{% block scripts %}
    {{super()}}

{% endblock %}

