{% extends 'bootstrap/base.html' %}

{% from 'base_macros.html' import search_field %}

{% block head %}
{{ super () }}
{% endblock %}

{% block metas %}
{{ super () }}
    <meta name="yandex-verification" content="3dd31b47d7309d76" />
    <meta name="google-site-verification" content="3-rASyHM3nnUn-LYoLWsCqvlJPdzOzaNRqAHRzNywEw" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% if canonical and canonical!='' %}
        <link rel="canonical" href="{{canonical}}" />
    {% endif %}
{% endblock %}

{% block title %}
{% endblock %}


{% block styles %}
{{ super() }}
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic'
            rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}"> -->

{% endblock %}

{% block navbar %}

    <div id="navbar" class="place-search__scope">
        <div class="container-fluid">

                <div id="navbar__logo">
                    <a href="{{url_for('root')}}">
                        <img src="{{url_for('static', filename='images/logo.svg')}}" />
                    </a>
                </div>


                {{search_field("navbar__search", "hidden-xs")}}



                <div  id="navbar__user">
                    <div id="user__nickname">
                        {% if current_user.is_authenticated %}
                            <table>
                                <tr>
                                    <td class="user__alert serverNotsIndicator">
                                        <a href="{{url_for('social.user_events')}}" style="color:red">
                                            <span style="font-weight:bolder" class="serverNotsCount"></span>
                                        </a>
                                    </td>
                                    <td class="user__alert serverMsgIndicator">
                                        <a href="{{url_for('social.messenger')}}" style="color:red">
                                            <span style="font-weight:bolder" class="serverMsgCount"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a id="user__nickname-link"
                                            href="{{url_for('social.profile')}}">
                                        <img style="float:left"
                                            src="{{current_user.get_avatar()}}"
                                            class="img img-responsive avatar-small" />
                                        </a>
                                    </td>
                                    <td>
                                        <a id="user__nickname-link"
                                            href="{{url_for('social.profile')}}">
                                            {{current_user.nickname }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <div id="user-login">
                            Войдите с
                                <a href="{{url_for('social.g_login')}}?follow={{request.path}}"><span class="fa fa-google"></span></a>
                                , <a href="{{url_for('social.f_login')}}?follow={{request.path}}"><span class="fa fa-facebook"></a>
                                 или <a href="{{url_for('social.v_login')}}?follow={{request.path}}"><span class="fa fa-vk"></a>
                            </div>
                        {% endif %}
                    </div><div class="clearfix"></div>

                </div>



                <div class="clearfix"></div>

                <div class="divider visible-xs"></div>

                {{search_field("navbar__search","visible-xs")}}

                 <div class="divider visible-xs"></div>


        </div>
        <div id="search-results" v-if="showingResults">
                    <a style="display:inline-block; margin:5px; padding:5px;"
                        :id="'sl'+$index"
                        :style="{fontSize: (p.number>3000?3000:p.number)/10+120+'%'}"
                        :class="{'search-result--preselected': elPreSelected($index),
                                 'color-light-blue': !p.has_tips,
                                 'color-white': p.has_tips
                                 }"
                        v-for="p in results" v-text="p.name" track-by="$index"
                        :href="p.url">
                    </a>
                </div>
    </div>

{% endblock %}

{% block content %}
        {% block page_content %}{% endblock %}
        <div id="pre-footer"></div>
        {% block page_footer %}
        <div id="footer">
            <br/>
            <p>© 2011-2017 КУДАБЫ</p>
        </div>
        {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if not debug_mode %}
        {% include 'metrica_counter.html' %}
    {% endif %}

{% endblock %}
