/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
/* line 112, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-white {
  background-color: white;
}

/* line 116, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-white {
  color: white;
}

/* line 120, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-black {
  background-color: black;
}

/* line 124, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-black {
  color: black;
}

/* line 128, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 133, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 138, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 143, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 148, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 153, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 157, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 163, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 168, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 173, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 178, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 183, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 188, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 193, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 198, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 203, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 208, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 213, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 218, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 223, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 228, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 233, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 238, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 243, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 248, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 253, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 258, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 263, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 271, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
  color: white;
}

/* line 276, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 281, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 286, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 291, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 296, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 301, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 306, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 312, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 317, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 322, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 327, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 332, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 337, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 342, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 347, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 352, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 357, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 362, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 367, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 372, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 377, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 382, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 387, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 392, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 397, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 402, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 407, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 412, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 4, scss/messenger.scss */
ul {
  padding: 0;
}

/* line 8, scss/messenger.scss */
li.v__contact-list__item {
  list-style: none;
  display: block;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px;
}
/* line 16, scss/messenger.scss */
li.v__contact-list__item:hover {
  background-color: #0088cc;
  color: white;
  cursor: pointer;
}

/* line 22, scss/messenger.scss */
li.v__contact-list__item--selected {
  background-color: #ff9800;
  color: white;
}

/* line 27, scss/messenger.scss */
.msg {
  margin-bottom: 5px;
}

/* line 31, scss/messenger.scss */
.msg__bubble {
  border-radius: 6px;
  padding: 15px;
}

/* line 37, scss/messenger.scss */
.msg__to-me .msg__bubble {
  background-color: #ffeaa5;
  width: 80%;
}

/* line 44, scss/messenger.scss */
.msg__from-me .msg__bubble {
  background-color: #c8efb1;
  width: 80%;
  margin-left: 20%;
}
/* line 49, scss/messenger.scss */
.msg__from-me .msg__prefix {
  text-align: right;
}

/* line 54, scss/messenger.scss */
.msg__prefix {
  font-style: italic;
  font-size: 70%;
  color: #c6c6c6;
  width: 100%;
}

/* line 61, scss/messenger.scss */
#msg__textarea {
  width: 100%;
  resize: vertical;
  padding: .5em;
  border: 0.1em solid #ccc;
  border-radius: 6px;
}

/* line 69, scss/messenger.scss */
#msg__send-button {
  width: 100%;
  margin-top: 5px;
}

/* line 74, scss/messenger.scss */
.contact-avatar {
  display: inline-block;
  margin-right: 5px;
  height: 40px;
}

/* line 80, scss/messenger.scss */
#v__chat-header__title {
  float: left;
}

/* line 84, scss/messenger.scss */
#v__chat-header__controls {
  float: right;
}

/* line 91, scss/messenger.scss */
#v__chat-header__status {
  display: none;
}

/* line 95, scss/messenger.scss */
.ban-disabled {
  color: white;
  background-color: #55d426;
}

/* line 100, scss/messenger.scss */
.ban-enabled {
  color: black;
  background-color: #ff4e2b;
}
