/* line 67, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-blue {
  color: #0088cc;
}

/* line 72, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-cyan {
  color: #0cbeb2;
}

/* line 77, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-green {
  color: #55d426;
}

/* line 82, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-yellow {
  color: #ff9800;
}

/* line 87, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-orange {
  color: #ff9800;
}

/* line 92, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-red {
  color: #ff4e2b;
}

/* line 96, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-magenta {
  color: #b652bf;
}

/* line 102, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-blue {
  color: #002c87;
}

/* line 107, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-cyan {
  color: #00705d;
}

/* line 112, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-green {
  color: #0c9702;
}

/* line 117, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-orange {
  color: #ff7b00;
}

/* line 122, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-yellow {
  color: #ffd900;
}

/* line 127, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-red {
  color: #ff0a02;
}

/* line 132, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-dark-magenta {
  color: #821a8f;
}

/* line 137, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-blue {
  color: #acd6e7;
}

/* line 142, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-cyan {
  color: #b1e8df;
}

/* line 147, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-green {
  color: #c8efb1;
}

/* line 152, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-orange {
  color: #ffeaa5;
}

/* line 157, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-yellow {
  color: #fff8a9;
}

/* line 162, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-red {
  color: #ffc4b3;
}

/* line 167, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-blue {
  color: #d5eaf3;
}

/* line 172, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-light-magenta {
  color: #d294d7;
}

/* line 177, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-cyan {
  color: #d8f3ef;
}

/* line 182, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-green {
  color: #e3f7d8;
}

/* line 187, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fff4d2;
}

/* line 192, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-yellow {
  color: #fffbd4;
}

/* line 197, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-red {
  color: #ffe1d9;
}

/* line 202, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.color-pale-magenta {
  color: #e8c9eb;
}

/* line 210, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-none {
  background-color: #78a7b4;
}

/* line 214, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-blue {
  background-color: #0088cc;
  color: white;
}

/* line 219, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-cyan {
  background-color: #0cbeb2;
  color: white;
}

/* line 224, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-green {
  background-color: #55d426;
  color: white;
}

/* line 229, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-yellow {
  background-color: #ff9800;
  color: white;
}

/* line 234, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-orange {
  background-color: #ff9800;
  color: white;
}

/* line 239, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-red {
  background-color: #ff4e2b;
  color: white;
}

/* line 244, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-magenta {
  background-color: #b652bf;
  color: white;
}

/* line 250, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-blue {
  background-color: #002c87;
  color: white;
}

/* line 255, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-cyan {
  background-color: #00705d;
  color: white;
}

/* line 260, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-green {
  background-color: #0c9702;
  color: white;
}

/* line 265, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-orange {
  background-color: #ff7b00;
  color: white;
}

/* line 270, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-yellow {
  background-color: #ffd900;
  color: white;
}

/* line 275, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-red {
  background-color: #ff0a02;
  color: white;
}

/* line 280, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-dark-magenta {
  background-color: #821a8f;
  color: white;
}

/* line 285, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-blue {
  background-color: #acd6e7;
  color: white;
}

/* line 290, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-cyan {
  background-color: #b1e8df;
  color: white;
}

/* line 295, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-green {
  background-color: #c8efb1;
  color: white;
}

/* line 300, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-orange {
  background-color: #ffeaa5;
  color: white;
}

/* line 305, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-yellow {
  background-color: #fff8a9;
  color: white;
}

/* line 310, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-red {
  background-color: #ffc4b3;
  color: white;
}

/* line 315, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white;
}

/* line 320, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-light-magenta {
  background-color: #d294d7;
  color: white;
}

/* line 325, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white;
}

/* line 330, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-green {
  background-color: #e3f7d8;
  color: white;
}

/* line 335, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-orange {
  background-color: #fff4d2;
  color: white;
}

/* line 340, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white;
}

/* line 345, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-red {
  background-color: #ffe1d9;
  color: white;
}

/* line 350, /Users/lapshov/Documents/venv/mango/mango/social/static/css/scss/../../../../static/css/scss/_config.scss */
.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white;
}

/* line 3, scss/profile.scss */
#nickname__title {
  font-size: 300%;
  margin-top: 0;
  line-height: .8em;
}

/* line 10, scss/profile.scss */
.dropzone {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: default;
  line-height: 0.8em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 26, scss/profile.scss */
.dropzone div#dnd-cta {
  padding-top: 20px;
}
/* line 30, scss/profile.scss */
.dropzone div#or {
  font-size: 14px;
  font-weight: bold;
  color: #C0C0C0;
  padding-top: 10px;
}
/* line 39, scss/profile.scss */
.dropzone div.browser span {
  cursor: pointer;
}
/* line 43, scss/profile.scss */
.dropzone div.browser label {
  background-color: white;
  padding: 5px 15px;
  /* color: white; */
  font-size: 14px;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 3px;
  border-style: solid;
  border-color: #c6c6c6;
  border-width: 1px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 90%;
  margin: 15px auto 0px auto;
  /* box-shadow: 2px 2px 2px #888888; */
}
/* line 60, scss/profile.scss */
.dropzone div.browser label:hover {
  background-color: #efefef;
}
/* line 65, scss/profile.scss */
.dropzone div.browser input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: .0;
  filter: alpha(opacity=0);
  -o-transform: translate(250px, -50px) scale(1);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
